<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>wealthOS needs access to your contacts to simplify financial transactions like bill splitting and payments. You can manage this permission in your device settings at any time.</string>
</dict>
</plist>
